// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div #results {} //alternate background: #eee; and background: #ddd;


#titlebar {
        text-align: center;
        margin-bottom: 2em;
}


h2 {
        background: #e00;
        color: #fee;
}


body {
        background: #eee;
        color: #333;
        width: 40 em;
        margin-left: auto;
        margin-right: auto;
        //some of this belongs in div #main
        }


//span #jobtitle
a {
        color: #555;
        font-size: 90%;
        font-weight: 300; // 400 is normal
        text-transform: uppercase;
}


#results > p {
        margin-top: 4em;
}


span .snippet {
        font-size: 110%;
}


span .company {
        font-size: 110%;
        font-weight: 600; // 700 is bold
}

span .location {
        font-size: 110%;
        font-weight: 500; //half-bold
}