// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { background: #eef; }

#titlebar {
        margin-bottom: 2em;
	background: #09c;
	color: #fee;	
	padding: .5em;
	border-radius: 1em;
	margin-right: 4em; margin-left: 4em;
	font-family: "Courier New"; font-size: 200%;
}

h2	{
	text-align: center;
	}


h6 {
	font-size: 90%;
	color: #222;
	font-weight: 550;
	}

body {
        background: #eee;
        color: #333;
        }

#main {	
        margin-left: auto;
	}


#results {
	width: 50em;
        margin-left: auto;
}

#results > p {
        margin-top: 1em;
	background: #dfe5f0;
	padding: 1em;
}



#results > p:nth-child(even) {
	background: #dfe5e5;
	}



div {
	margin: 1em;
	padding: .5em;
	}

.snippet { font-size: 105%; }
.snippet + br { font-size: 50%; }
.company {
	padding-right: 9em;
	font-size: 130%;
	font-weight: 550;
	letter-spacing: +.03em;
}

.location {
	padding-left: 13em;
	font-size: 110%;
}



#what, #where {
	text-transform: uppercase;
	font-size: 90%;
	color: #555;
	padding: 1em;
	}




a {
	color: #333;
	text-transform: uppercase;
	font-weight: 350;
	font-size: 90%;
	letter-spacing: +.08em;
	font-family: Arial;
	}

