// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { background: #eef; }

#titlebar {
        margin-top: 0.5em; margin-bottom: 0.5em;
	background: #09c;
	color: #fee;	
	padding: 0em; padding-top: 0.3em; padding-bottom: .3em;
	border-radius: 1em;
	margin-right: 2em; margin-left: 2em;
	font-family: "Courier New"; font-size: 200%;
}

h2	{
	text-align: center;
	margin: 0;
	}


h6 {
	font-size: 90%;
	color: #222;
	font-weight: 550;
	margin: 0;
	}

body {
        background: #eee;
        color: #333;
        }

#main {	
	margin-top: 0.4em;
        margin-left: auto;
	margin-right: auto;
	}


#results {
	margin-top: 0.3em;
	width: 55em;
        margin-left: auto;
	margin-right: auto;
}

#results > p {
        margin-top: 1em;
	background: #dfe5f0;
	padding: 1em;
}



#results > p:nth-child(even) {
	background: #dfe5e5;
	}



div {
	margin: 1em;
	padding: .5em;
	}

.snippet { font-size: 105%; color: #333; }
p { font-size: 90%; color: #777; }
.company {
	padding-right: 9em;
	font-size: 110%;
	font-weight: 550;
	color: #000;
	letter-spacing: +.03em;
}

.location {
	padding-left: 16em;
	font-size: 110%;
	color: #555;
}



#what, #where {
	text-transform: uppercase;
	font-size: 90%;
	color: #555;
	padding: 0em;
	}

#where { padding-left: 3em; }


a {
	color: #333;
	text-transform: uppercase;
	font-weight: 350;
	font-size: 90%;
	letter-spacing: +.08em;
	font-family: Arial;
	}

#search { margin: 0;
        margin-left: auto;
	margin-right: auto;
	width: 56.5em;
}

b { 	font-weight: 600; 
	font-size: 95%;
	color: #444; 
}
